USE [master]
GO
/****** Object:  Database [DB]    Script Date: 20.10.2023 11:33:12 ******/
CREATE DATABASE [DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB]
GO
/****** Object:  Table [dbo].[Employee role]    Script Date: 20.10.2023 11:33:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee role](
	[Id] [int] NOT NULL,
	[Role] [nchar](30) NULL,
 CONSTRAINT [PK_Employee role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Information]    Script Date: 20.10.2023 11:33:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Information](
	[Order_Number] [nchar](30) NOT NULL,
	[Product] [nchar](20) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 20.10.2023 11:33:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Order_Information] [nchar](30) NOT NULL,
	[Order_date] [date] NULL,
	[Delivery_date] [date] NULL,
	[Points_Issuance] [int] NULL,
	[Last_name] [nchar](30) NULL,
	[First_name] [nchar](30) NULL,
	[Middle_name] [nchar](30) NULL,
	[Code_get] [int] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Order_Information] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Points_Issuance]    Script Date: 20.10.2023 11:33:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Points_Issuance](
	[Id] [int] NOT NULL,
	[Index] [nchar](9) NULL,
	[City] [ntext] NULL,
	[Street] [ntext] NULL,
	[House] [ntext] NULL,
 CONSTRAINT [PK_Points_Issuance] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product categories]    Script Date: 20.10.2023 11:33:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product categories](
	[Id] [int] NOT NULL,
	[Product] [nchar](30) NULL,
 CONSTRAINT [PK_Product categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 20.10.2023 11:33:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[ID] [int] NULL,
	[Last_name] [nchar](30) NOT NULL,
	[First_name] [nchar](30) NOT NULL,
	[Middle_name] [nchar](30) NOT NULL,
	[Login] [nchar](50) NULL,
	[Password] [nchar](30) NULL,
	[ID_Role] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Warehouse]    Script Date: 20.10.2023 11:33:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouse](
	[Product_category] [int] NULL,
	[Current_discount] [int] NOT NULL,
	[Quantity_in_stock] [int] NULL,
	[Description] [text] NULL,
	[Product_code] [nchar](30) NULL,
	[Product Image] [image] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Order_Information]  WITH CHECK ADD  CONSTRAINT [FK_Order_Information_Orders] FOREIGN KEY([Order_Number])
REFERENCES [dbo].[Orders] ([Order_Information])
GO
ALTER TABLE [dbo].[Order_Information] CHECK CONSTRAINT [FK_Order_Information_Orders]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Points_Issuance] FOREIGN KEY([Points_Issuance])
REFERENCES [dbo].[Points_Issuance] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Points_Issuance]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Employee role] FOREIGN KEY([ID_Role])
REFERENCES [dbo].[Employee role] ([Id])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Employee role]
GO
ALTER TABLE [dbo].[Warehouse]  WITH CHECK ADD  CONSTRAINT [FK_Warehouse_Product categories] FOREIGN KEY([Product_category])
REFERENCES [dbo].[Product categories] ([Id])
GO
ALTER TABLE [dbo].[Warehouse] CHECK CONSTRAINT [FK_Warehouse_Product categories]
GO
USE [master]
GO
